<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ChatCAT</title>
    <link rel="stylesheet" href="../css/normalize.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../css/room.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="rm-container">
      <h1 class="rm-title">ChatCAT</h1>
      <div class="rm-userbox">
        <img src="{{user.profilePic}}" class="userPic" />
        <h3 class="userName">{{user.fullname}} | <a href="/logout">Logout</a> <a href="/chatrooms">More Chatrooms</a></h3>
      </div>
      <div class="rm-roomname">
        <h5>{{room_name}}</h5>
      </div>
      <div class="rm-message">
        <ul class="message">
          <li>
            <div class="msgbox">
              <div class="pic">
                <img src="{{user.profilePic}}" />{{user.fullname}}
              </div>
              <div class="msg">
                <p>
                  Hi there this looks nice !
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="rm-users">
        <ul class="users">
          <li><img src="{{user.profilePic}}" /><h5>{{user.fullname}}</h5></li>
        </ul>
      </div>
      <div class="rm-newmessage">
        <input type="text" class="newmessage" autocomplete="off" placeholder="Type in your message and press enter!">
      </div>
    </div>
  </body>
</html>
